#number-projects-nd {
    font-size: 60px;
}

#total-donations-nd {
    font-size: 60px;
}

.dc-chart g.row text {
    fill: black;
    font-size: 12px;
}
        .link {
            stroke-width: 4px;
        }

        .node {
            stroke: #fff;
            stroke-width: 2px;
        }

        .textClass {
            stroke: #23232;
            font-family: "Arial", "Liberation Sans", Arial, Helvetica, sans-serif;
            font-weight: bold;

            stroke-width: 3;
            font-size: 20px;

        }

        #licensing {
            fill: green;
        }

        .link.licensing {
            stroke: green;
        }

        #chart, .ui-widget {
            border-style: solid;
            border-width: 2px;
            border-color: white;
        }