/*Style sheet for webversion of newstand*/

/*General Styles*/
html { height: 100% }
body { height: 100%; margin: 0; overflow: hidden}
#notifyContainer {display:none;}
#pageContainer {height:100%; width: 100%;}
#map_container {height:100%; z-index:0;}
/*#notifyContainer {position:absolute; left:0; right: 0; top: 0; height:30px; text-align:center; line-height:30px; background-color: darkblue; color: white; font-weight:bold;}
#pageContainer {position:absolute; left:0; right: 0; bottom: 0; top:30px;}*/
#map_canvas { height: 100%; width:100%;}

/* DESKTOP MINIMAP STYLES */
@media screen and (min-width: 601px){
  #minimap_canvas{
    width: 100%;
    top: 20px;
    bottom: 0;
    position: absolute;
  }

  #mini-map_container{
    width: 250px;
    height: 220px;
    border: 2px solid white;
    position: absolute;
    bottom: -2px;
    left: -2px;
    z-index: 1;
    -webkit-box-shadow: 1px -1px 6px rgba(50, 50, 50, 0.2);
    -moz-box-shadow:    1px -1px 6px rgba(50, 50, 50, 0.2);
    box-shadow:         1px -1px 6px rgba(50, 50, 50, 0.2);
    box-sizing: border-box;
  }

  #mini-map_close{
    width: 18px;
    height: 18px;
    position: absolute;
    top: 0;
    left: 0;
    background-color: white;
    color: black;
    font-size: 20px;
    padding: 0;
    margin: 0;

    z-index: 5;

    -webkit-border-bottom-right-radius: 4px;
    -moz-border-radius-bottomright: 4px;
    border-bottom-right-radius: 4px;
  }

  #minimap_close:hover {
    cursor: pointer;
  }

  #minimap_close #mmcBTN{
    position: absolute;
    top: -4px;
    left: 2px;
  }

  #minimap_topbar{
    width: 100%;
    height: 20px;
    background-color: white;
    color: #757575;
    font-size: 10px;
    position: absolute;
    z-index: 2;
  }

  #minimap_txt {
    padding-left: 5px;
  }

  #minimap_topbar:hover {
    cursor: all-scroll;
  }

  #minimap_slider_wrapper {
    position:absolute;
    top:20px;
    right:10px;
    text-align: right;
  }
  #minimap_slider_info {
    text-align:right;
    margin-right: -8px;
  }
  #minimap_slider2_info {
    margin-left: -8px;
  }
  #minimap_slider2_wrapper {
    position:absolute;
    top:20px;
    left:10px;
    text-align: left;
  }
  #minimap_marker_slider .ui-slider-handle {
    background: orange;
  }
  #minimap_slider_buttons button.ui-button-icon-only {
    background: orange;
  }
  .minimap_sliderWrapper span
  {
    font-weight: bold;
    text-shadow:  -1px -1px 0 white,
                  -1px -1px 0 white,
                  -1px -1px 0 white,
                  1px 1px 0 white;
  }

  .slider_btns {
    margin-top:-2px;
    display:inline-block;
    vertical-align:middle;
  }
  .minimap_slider {
    display:inline-block;
    min-width:50px;
    vertical-align:middle;
  }
  #minimap_slider2_buttons {
    margin-left:2px;
  }
  #minimap_marker_slider2 {
    margin-right:5px;
  }
  #minimap_marker_slider {
    margin-left:5px;
  }

  .slider_btns button.ui-button-icon-only {
    width:20px;
  }
  #minimap_lock {
    right: 42px;
    top: 0px;
    position: absolute;
  }
  #minimap_zoom {
    right: 6px;
    top: 0px;
    position: absolute;
  }
  .minimap_txt {
  	bottom:25px;
  	position:absolute;
  	width:245px;
  	display:block;
  	margin-left:auto;
  	margin-right:auto;
  	text-align:center;
  	font-weight:bold;
  	visibility:hidden;
  	cursor:pointer;
  }
}

/*Info Bubble Styles*/
.bubble {width:200px; font-size:12px%;}i
.bubble-head { display:block; font-weight:bold;}
.bubble-body {display:block;}
.bubble-img {max-width:120px; max-height:120px;}

.bubble-all {font-size: 12px; padding: 10px !important;}
.phoney {
  background: -webkit-gradient(linear,left top,left bottom,
  color-stop(0, rgb(112,112,112)),color-stop(0.51, rgb(94,94,94)),
  color-stop(0.52, rgb(57,57,57)));
  background: -moz-linear-gradient(center top,
  rgb(112,112,112) 0%,rgb(94,94,94) 51%,rgb(57,57,57) 52%);
  position: relative;
  z-index: 20;
  overflow: hidden;
}
.phoneybubble
{
  text-shadow: 0 -1px 0 #000;
  color: #fff;
  font-family: Helvetica Neue, Helvetica, arial;
  font-size: 14px;
  line-height: 20px;
  padding: 4px 45px 4px 10px;
  
  width:250px;
  cursor:pointer;
}
@media all and (max-width: 600px) {
  .phoneybubble {
    background: url(../images/arrow.png) 85% 50% no-repeat;
  }
}
@media all and (min-width: 601px) {
  .phoneybubble {
    background: url(../images/arrow.png) 95% 50% no-repeat;
  }
  
}

.phoneybubble .bubble-head{
  padding: 0;
  margin: 0;
  font-weight: bold;
}

.phoneybubble .bubble-body{
  padding: 0;
  margin: 0;
  max-width: 80%;
  overflow: hidden;
  line-height: 15px;
}

/*Info bubble story list style*/
.arrow_box > img {
  z-index: 50;
}
@media screen and (min-width: 601px) {
  .newsbubble
  {
    max-width:255px;
    width: 255px;
    height: 478px;
    background: #fff;
    padding: 0px;
    overflow:hidden;
  }

  #errorReportComment{
    position: relative;
    top: -12px;
    font-size: 11px !important;
      width: 90%;
  }
  .newsbubble-head
  {
    position:absolute;
    top:0;
    left:0;
    right:0;
    height:22px;
    display:block;
    font-weight:bold !important;
    padding-left: 8px;
    padding-bottom: 3px;
    padding-top: 5px;
    padding-right:20px;
    font-size: 12px !important;
    border-bottom: 1px solid #e3e3e3;
    background-color: #D6EDFF;
  }

  .newsbubble-body {
    position:absolute;
    top:31px;
    bottom:0;
    left:0;
    right:0;
    overflow:auto;
  }

  .newsbubble a#NOTLOC:active,
  .newsbubble a#WRONGLOC:active,
  .newsbubble a#CORRECTLOC:active{
    margin-top: 1px;
  }

  .newsbubble-head .newsbubble-controls {float: right;}
  .newsbubble-head .newsbubble-arrows {
    float: right;
    margin-top: -7px;
    cursor: pointer;
  }
  .newsItem
  {
    font-family: Helvetica, arial, sans-serif;
    font-size: 12px !important;
    font-weight: bold;
    padding: 5px 0 5px 10px;
    border: 0;
    line-height:15px;
    overflow-x: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: #2A5DB0;
    border-top: 1px solid #e3e3e3;
    cursor: pointer;
  }

  .newsItem:hover {
    background: -moz-linear-gradient(left, rgba(237,237,237,1) 0%, rgba(255,255,255,0) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(237,237,237,1)), color-stop(100%,rgba(255,255,255,0))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(left, rgba(237,237,237,1) 0%,rgba(255,255,255,0) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(left, rgba(237,237,237,1) 0%,rgba(255,255,255,0) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(left, rgba(237,237,237,1) 0%,rgba(255,255,255,0) 100%); /* IE10+ */
    background: linear-gradient(to right, rgba(237,237,237,1) 0%,rgba(255,255,255,0) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ededed', endColorstr='#00ffffff',GradientType=1 ); /* IE6-9 */
    background-color: #F7F7F7;
  }

  .newsItem .storyKeyword {color: #000000;}
  .mobile-show {
    display: none !important;
  }
}
.arrow_box
{
  position: relative;
  background: #fff;
  border: 1px solid #000000;

}

.arrow_box:after, .arrow_box:before
{
  right: 100%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
}
.arrow_box:after
{
  border-color: rgba(255, 255, 255, 0);
  border-right-color: #fff;
  border-width: 15px;
  top: 50%;
  margin-top: -15px;
}

.arrow_box:before
{
  border-color: rgba(0, 0, 0, 0);
  border-right-color: #000000;
  border-width: 16px;
  top: 50%;
  margin-top: -16px;
}

/*Flip which side the arrow is on*/
.arrow_box.flipArrow:after, .arrow_box.flipArrow:before
{
  left: 100%;
}

.arrow_box.flipArrow:after
{
  border-left-color: #fff;
  border-right: none;
}

.arrow_box.flipArrow:before
{
  border-left-color: #000000;
  border-right: none;
}

#bubble_all{
  padding-left: 8px;
  padding-right: 5px;
  line-height: 15px;
}

.arrow_box.arrow1:after, .arrow_box.arrow1:before{top: 3%;}
.arrow_box.arrow2:after, .arrow_box.arrow2:before{top: 3%;}
.arrow_box.arrow3:after, .arrow_box.arrow3:before{top: 3%;}
.arrow_box.arrow4:after, .arrow_box.arrow4:before{top: 4%;}
.arrow_box.arrow5:after, .arrow_box.arrow5:before{top: 5%;}
.arrow_box.arrow6:after, .arrow_box.arrow6:before{top: 6%;}
.arrow_box.arrow7:after, .arrow_box.arrow7:before{top: 7%;}
.arrow_box.arrow8:after, .arrow_box.arrow8:before{top: 8%;}
.arrow_box.arrow9:after, .arrow_box.arrow9:before{top: 9%;}
.arrow_box.arrow10:after, .arrow_box.arrow10:before{top: 10%;}
.arrow_box.arrow11:after, .arrow_box.arrow11:before{top: 11%;}
.arrow_box.arrow12:after, .arrow_box.arrow12:before{top: 12%;}
.arrow_box.arrow13:after, .arrow_box.arrow13:before{top: 13%;}
.arrow_box.arrow14:after, .arrow_box.arrow14:before{top: 14%;}
.arrow_box.arrow15:after, .arrow_box.arrow15:before{top: 15%;}
.arrow_box.arrow16:after, .arrow_box.arrow16:before{top: 16%;}
.arrow_box.arrow17:after, .arrow_box.arrow17:before{top: 17%;}
.arrow_box.arrow18:after, .arrow_box.arrow18:before{top: 18%;}
.arrow_box.arrow19:after, .arrow_box.arrow19:before{top: 19%;}
.arrow_box.arrow20:after, .arrow_box.arrow20:before{top: 20%;}
.arrow_box.arrow21:after, .arrow_box.arrow21:before{top: 21%;}
.arrow_box.arrow22:after, .arrow_box.arrow22:before{top: 22%;}
.arrow_box.arrow23:after, .arrow_box.arrow23:before{top: 23%;}
.arrow_box.arrow24:after, .arrow_box.arrow24:before{top: 24%;}
.arrow_box.arrow25:after, .arrow_box.arrow25:before{top: 25%;}
.arrow_box.arrow26:after, .arrow_box.arrow26:before{top: 26%;}
.arrow_box.arrow27:after, .arrow_box.arrow27:before{top: 27%;}
.arrow_box.arrow28:after, .arrow_box.arrow28:before{top: 28%;}
.arrow_box.arrow29:after, .arrow_box.arrow29:before{top: 29%;}
.arrow_box.arrow30:after, .arrow_box.arrow30:before{top: 30%;}
.arrow_box.arrow31:after, .arrow_box.arrow31:before{top: 31%;}
.arrow_box.arrow32:after, .arrow_box.arrow32:before{top: 32%;}
.arrow_box.arrow33:after, .arrow_box.arrow33:before{top: 33%;}
.arrow_box.arrow34:after, .arrow_box.arrow34:before{top: 34%;}
.arrow_box.arrow35:after, .arrow_box.arrow35:before{top: 35%;}
.arrow_box.arrow36:after, .arrow_box.arrow36:before{top: 36%;}
.arrow_box.arrow37:after, .arrow_box.arrow37:before{top: 37%;}
.arrow_box.arrow38:after, .arrow_box.arrow38:before{top: 38%;}
.arrow_box.arrow39:after, .arrow_box.arrow39:before{top: 39%;}
.arrow_box.arrow40:after, .arrow_box.arrow40:before{top: 40%;}
.arrow_box.arrow41:after, .arrow_box.arrow41:before{top: 41%;}
.arrow_box.arrow42:after, .arrow_box.arrow42:before{top: 42%;}
.arrow_box.arrow43:after, .arrow_box.arrow43:before{top: 43%;}
.arrow_box.arrow44:after, .arrow_box.arrow44:before{top: 44%;}
.arrow_box.arrow45:after, .arrow_box.arrow45:before{top: 45%;}
.arrow_box.arrow46:after, .arrow_box.arrow46:before{top: 46%;}
.arrow_box.arrow47:after, .arrow_box.arrow47:before{top: 47%;}
.arrow_box.arrow48:after, .arrow_box.arrow48:before{top: 48%;}
.arrow_box.arrow49:after, .arrow_box.arrow49:before{top: 49%;}
.arrow_box.arrow50:after, .arrow_box.arrow50:before{top: 50%;}
.arrow_box.arrow51:after, .arrow_box.arrow51:before{top: 51%;}
.arrow_box.arrow52:after, .arrow_box.arrow52:before{top: 52%;}
.arrow_box.arrow53:after, .arrow_box.arrow53:before{top: 53%;}
.arrow_box.arrow54:after, .arrow_box.arrow54:before{top: 54%;}
.arrow_box.arrow55:after, .arrow_box.arrow55:before{top: 55%;}
.arrow_box.arrow56:after, .arrow_box.arrow56:before{top: 56%;}
.arrow_box.arrow57:after, .arrow_box.arrow57:before{top: 57%;}
.arrow_box.arrow58:after, .arrow_box.arrow58:before{top: 58%;}
.arrow_box.arrow59:after, .arrow_box.arrow59:before{top: 59%;}
.arrow_box.arrow60:after, .arrow_box.arrow60:before{top: 60%;}
.arrow_box.arrow61:after, .arrow_box.arrow61:before{top: 61%;}
.arrow_box.arrow62:after, .arrow_box.arrow62:before{top: 62%;}
.arrow_box.arrow63:after, .arrow_box.arrow63:before{top: 63%;}
.arrow_box.arrow64:after, .arrow_box.arrow64:before{top: 64%;}
.arrow_box.arrow65:after, .arrow_box.arrow65:before{top: 65%;}
.arrow_box.arrow66:after, .arrow_box.arrow66:before{top: 66%;}
.arrow_box.arrow67:after, .arrow_box.arrow67:before{top: 67%;}
.arrow_box.arrow68:after, .arrow_box.arrow68:before{top: 68%;}
.arrow_box.arrow69:after, .arrow_box.arrow69:before{top: 69%;}
.arrow_box.arrow70:after, .arrow_box.arrow70:before{top: 70%;}
.arrow_box.arrow71:after, .arrow_box.arrow71:before{top: 71%;}
.arrow_box.arrow72:after, .arrow_box.arrow72:before{top: 72%;}
.arrow_box.arrow73:after, .arrow_box.arrow73:before{top: 73%;}
.arrow_box.arrow74:after, .arrow_box.arrow74:before{top: 74%;}
.arrow_box.arrow75:after, .arrow_box.arrow75:before{top: 75%;}
.arrow_box.arrow76:after, .arrow_box.arrow76:before{top: 76%;}
.arrow_box.arrow77:after, .arrow_box.arrow77:before{top: 77%;}
.arrow_box.arrow78:after, .arrow_box.arrow78:before{top: 78%;}
.arrow_box.arrow79:after, .arrow_box.arrow79:before{top: 79%;}
.arrow_box.arrow80:after, .arrow_box.arrow80:before{top: 80%;}
.arrow_box.arrow81:after, .arrow_box.arrow81:before{top: 81%;}
.arrow_box.arrow82:after, .arrow_box.arrow82:before{top: 82%;}
.arrow_box.arrow83:after, .arrow_box.arrow83:before{top: 83%;}
.arrow_box.arrow84:after, .arrow_box.arrow84:before{top: 84%;}
.arrow_box.arrow85:after, .arrow_box.arrow85:before{top: 85%;}
.arrow_box.arrow86:after, .arrow_box.arrow86:before{top: 86%;}
.arrow_box.arrow87:after, .arrow_box.arrow87:before{top: 87%;}
.arrow_box.arrow88:after, .arrow_box.arrow88:before{top: 88%;}
.arrow_box.arrow89:after, .arrow_box.arrow89:before{top: 89%;}
.arrow_box.arrow90:after, .arrow_box.arrow90:before{top: 90%;}
.arrow_box.arrow91:after, .arrow_box.arrow91:before{top: 91%;}
.arrow_box.arrow92:after, .arrow_box.arrow92:before{top: 92%;}
.arrow_box.arrow93:after, .arrow_box.arrow93:before{top: 93%;}
.arrow_box.arrow94:after, .arrow_box.arrow94:before{top: 94%;}
.arrow_box.arrow95:after, .arrow_box.arrow95:before{top: 95%;}
.arrow_box.arrow96:after, .arrow_box.arrow96:before{top: 96%;}
.arrow_box.arrow97:after, .arrow_box.arrow97:before{top: 97%;}
.arrow_box.arrow98:after, .arrow_box.arrow98:before{top: 97%;}
.arrow_box.arrow99:after, .arrow_box.arrow99:before{top: 97%;}
.arrow_box.arrow100:after, .arrow_box.arrow100:before{top: 97%;}


/*UI Components*/
/*-->Banner*/

.banner
{
  height: 4.5em;
  position: relative;
  top: 0;
  width: 100%;
  z-index: 100;
}

.bannerTitle
{
  background-color: lightblue;
  height: 70%;
}

.topicBar
{
  background-color: darkgray;
  height: 30%
}

/*#topic_list
{
  margin: 0;
  padding-left: 10px
}
*/
.ui-button.ui-widget
{
  height: 100%
}

.ui-button.ui-widget .ui-button-text
{
  line-height: inherit;
  font-size: 50%
}

.ui-button-text > img
{
  height: 90%;
  vertical-align: top;
  position: relative;
  bottom: .5em
}

/*-->Slider*/
.sliderWrapper
{
  z-index: 100;
  position: absolute;
  bottom: 0;
  right: 5%;
  width: 190px;
}

.sliderWrapper SPAN
{
  font-weight: bold;
  text-shadow:  -1px -1px 0 white,
                -1px -1px 0 white,
                -1px -1px 0 white,
                1px 1px 0 white;
}

.sliderWrapper #slider_info{
  float: left;
  display: inline-table;
}

.sliderWrapper #marker_slider{
  width: 100px;
  float: right;
  display: inline-table;
  margin-top: 2px;
}

.sliderWrapper SPAN #num_icons
{
  /*color: #f6931f;
  text-shadow:  -1px -1px 0 black,
                1px -1px 0 black,
                -1px 1px 0 black,
                1px 1px 0 black;*/
}

/*NEW topic filter styles*/
@media screen and (min-width: 601px) {
  .topic-filter{
    position: absolute;
    z-index: 5;
    top: 0;
    left: 0;
    min-width: 80%;
    background-color: none;
    pointer-events: none;
  }

  .topic-filter ul{
    padding: 0;
  }

  .topic-filter ul li{
    float: left;
    list-style: none;
    background-color: black;
    margin: 5px;
    color: white;

    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;

    background-color:rgba(0, 0, 0, 0.5);
    text-shadow: 1px 1px 0px rgba(0, 0, 0, .7);
    text-shadow: 0px 0px 2px rgba(0, 0, 0, 0.76);

    pointer-events: all;
  }

  .topic-filter ul li label{
    margin-bottom: 0px;
  }

  .topic-filter ul li:hover {
    background-color:rgba(0,0,0,0.6);
  }

  .topic-filter ul li img{
    height: 1.2em;
  }

  .topic-filter ul li .filter_select + .menu-button{
    padding: 5px 8px 5px 8px;
  }

  .topic-filter ul li .filter_select:checked + .menu-button {
    font-weight: bold;
    border: 1px solid white;

    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;

    -webkit-box-shadow: 3px 3px 2px rgba(50, 50, 50, 0.75);
    -moz-box-shadow:    3px 3px 2px rgba(50, 50, 50, 0.75);
    box-shadow:         3px 3px 2px rgba(50, 50, 50, 0.75);
  }

  .topic-filter .filter_select{
    display: none;
  }

  .topic-filter #logo{
    overflow: visible;
    height: 75px;
  }
}
/*Addition classes*/
.hidden
{
  display: none
}

/*TOP NAV STYLES*/

#otherSystemsLinks{
  position: absolute;
  top: 1px;
  right: 20px;
  font-size: 11px;
  color: black !important;

  text-shadow: -1px -1px 2px white, -1px -1px 2px white, -1px -1px 2px white, 1px 1px 2px white,
               -2px -2px 0px white, -2px -2px 0px white, -2px -2px 0px white, 2px 2px 0px white;
  z-index: 6;
}

#otherSystemsLinks a{
  color: black;
  text-decoration: none;
}

#otherSystemsLinks a:hover {
  text-decoration: underline;
}

#about-icon:hover{
  text-decoration: none;
}

.topNav #mapNavigation #globe-icon{
  margin-right: 10px;
  margin-left: 10px;
}

.topNav #mapNavigation #myloc-icon img{
  width: 25px;
  height: 25px;
}

.topNav #mapNavigation #home-icon{
  margin-left: 10px;
}

.topNav #mapNavigation #layers-icon{
  margin-right: 15px;
}

.topNav #mapNavigation img{
  opacity: .95;
}

.topNav #mapNavigation img:hover {
  opacity: 1;
}

.topNav #mapNavigation img:active{
  margin-top: 1px;
}

.topNav #mapNavigation{
  float: right;
  padding-top: 15px;
  padding-right: 15px;
}

.topNav{
  position: absolute;
  padding: 0;
  margin: 0 auto;
  z-index: 1;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 80px;
}

.topNav .topic-filter {
  position: absolute;
  left: 0;
  top: 0;
  min-width: 100%;
  min-height: 100%;
}

.topNav .topic-filter .topic-list {
  position: absolute;
  left: 50px;
  top: 0;
  min-width: 100%;
}

.topNav .about .about-icon{
  position: absolute;
  left: 8px;
  top: 8px;
  display: block;
  z-index: 5;
}

.topNav .about img{
  width: 25px !important;
  height: 25px !important;
}

.topNav .mapModeHolder {
  position: absolute;
  bottom: 0;
  left: 50px;
}

.li-full a {
  min-height: 100%;
}

.topNav .logo-bottom {
  position: absolute;
  bottom: 0;
}

.topNav .search-group {
  position: absolute;
  right: 20%;
  bottom: 0;
  min-width: 40%;
  min-height: 50%;
}

.search-group .search-box {
  min-height: 100%;
  max-height: 100%;
  min-width: 40%;
  max-width: 40%; 
  position: absolute; 
  bottom: 0;
}
.search-group .search-box:first-child {
  left: 0;
}
.search-group .search-box:last-child {
  left: 45%;
}

.search-box .search-field {
  margin-bottom: 0;
  position: absolute;
  left: 0;
  bottom: 0;
  max-width: 100%;

}

.three-grp {
  position: absolute;
  top: 4%;
  right: 210px;
  min-height: 50%;
  min-width: 100px;
  z-index: 6;
}

.three-grp .three-grp-mem {
  width: 30%;
  margin-right: 3%;
  min-height: 100%;
}

/* TUTORIAL */
.shepherd {
  max-width: 400px !important;
  z-index: 1000000;
}

.shepherd.wide-step {
  max-width: 550px !important;
}

/* END TUTORIAL */

/*TIME SLIDER STYLES*/
#timeSliderDiv{
  position: absolute;
  top: 22px;
  width: 100%;
}

#time_slider{
  width: 99%;
  height: 50px;
  position: absolute;
  margin-right: -400px;
  top: 22px;
  z-index: 1;
  background-color: white;
  border: 1px solid #9E9E9E;

  display: none;

  padding: 5px;
  padding-top: 3px;
  opacity: 0.80;

  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
#date_range_div{
  position: absolute;
  left: 50%;
  margin-left:-100px;
  text-align: center;
  z-index: -100;
}

#play_speed_slider_info{
  position: absolute;
  left: 5px;
  z-index: 100000;
}

#time_filter_info{
  text-align: center;
  display: inline-table;
  float: right;
}

/*SELECTED FILTERS OVERLAY STYLES*/
#selected_filters_overlay{
  width: 200px;
  position: absolute;
  right: 50%;
  margin-right: -100px;
  bottom: 10px;
  z-index: 1;
  background-color: white;
  border: 1px solid #9E9E9E;

  display: none;

  padding: 5px;
  padding-top: 3px;
  opacity: 0.80;

  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

#selected_filters_overlay #selected_filters_title{
  text-align: center;
  border-bottom: 1px dotted black;
  font-size: 11px;
}

#selected_filters_overlay .filters_applied{
  font-size: 11px;
  padding: 0;
  margin-left: 10px;
  margin-top: 5px;
  margin-bottom: 0px;
}

#selected_filters_overlay #info_search_div{
  display: none;
}

/*SETTINGS POPUP*/

#settings_popup-holder {
  height: 100%;
  overflow: hidden;
}
@media screen and (max-width: 600px) {
  #settings_popup {
    height: 94%;
  }
}
@media screen and (min-width: 601px) {
  #settings_popup {
    height: 50%;
  }
}
#settings_popup{
  position: absolute;
  z-index: 6;
  right: 0;
  bottom: 0;
  width: 100%;
  background-color: black;
  background-color:rgba(0,0,0,0.5);
  display: none;
  border-top: 1px solid black;
  background-image: url(images/settingsGradient.png);
  background-repeat: repeat-x;
  background-position: top;
}


.settings_menus{
  padding: 0;
  height: 100%;
  margin-top: 20px;
}

.settings_menus ul li label{
  border-bottom: 1px solid black;
  margin: 0;
  padding: 2px;
}

.settings_menus ul{
  margin-right: 10px;
  background-color:rgba(255,255,255,0.75);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  margin: 0 !important;
  margin-top: 10px;
  max-height: 99%;
  overflow: auto;
}

.settings_menus .options_label {
  padding: 0;
  float: left;
  height: 85%;
  list-style: none;
  margin-right: 30px;
}

.options_label ul{
  max-height: 100%;
  overflow: auto;
}

.settings_menus #featArticleType {
  display: block;
}

.settings_menus a {
  color: white;
  font-size: 17px;
  letter-spacing: 3px;
  display: block;
  margin-bottom: 10px;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, .60);
  margin-top: -5px;
}

.settings_menus a:hover {
  text-decoration: none;
  cursor: text;
}

.settings_menus li{
  list-style: none;
}

.settings_menus .options_label ul li{
  padding: 0 3px 0px 3px;
}

.settings_menus .options_label ul li .menu-button{
  padding-right: 5px;
}

.settings_menus .options_label.hasFlags ul li .menu-button{
  padding-left: 20px;
}

/*select the label for all and don't pad it. This is not working yet*/
.settings_menus .options_label.hasFlags ul li:first-child .menu-button{
  padding-left: 0px;
}

.settings_menus li .filter_select{
  display: none;
}

.settings_menus .filter_select:checked + .menu-button, .settings_menus #lang_All:checked + .menu-button, .settings_menus #feed-link_All:checked + .menu-button, .settings_menus #ccode_All:checked + .menu-button{
  font-weight: bold;
}

.settings_menus .filter_select:checked + .menu-button:after, .settings_menus #lang_All:checked + .menu-button:after, .settings_menus #feed-link_All:checked + .menu-button:after, .settings_menus #ccode_All:checked + .menu-button:after{
  content: "\2713";
  margin-left: 5px;
}

.settings_menus #lang_All, .settings_menus #feed-link_All, .settings_menus #ccode_All{
  display: none;
  visibility: hidden;
}

#close_settings_btn{
  position: absolute;
  top: 10px;
  right: 10px;
}

#close_settings_btn .close{
  color: white !important;
  opacity: 1;
  font-size: 12px;
  letter-spacing: 1px;
  text-shadow:#000000 0 1px 0;
}

#close_settings_btn:active{
  margin-top: 1px;
}

#open_settings_btn{
  position: absolute;
  right: 5px;
  bottom: 25px;
  z-index: 7;
}

.settings_menus .ccode_flags{
  float: left;
  display: inline-block;
  margin-top: 4px;
}

.tooltipLow{
  margin-top: 6px;
}

#top_stories{
  display: none;
}

#setNewHome{
  width: 300px;
  color:white;
  position:absolute;
  z-index: 5;
  background-color:rgba(0,0,0,0.6);
  text-align: center;
  border: 2px solid white;
  padding: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  display: none;
}

#setHomeCloseBTN{
  display: block;
  position: absolute;
  top: 5px;
  right: 5px;
  color: white;
  border: 1px solid white;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  padding: 5px;
  padding-top: 0px;
  padding-bottom: 0px;
  background-color:rgba(0,0,0,0.6);
  font-size: 14px;
}

#setHomeCloseBTN:hover{
  text-decoration:none;
}

#logo{
  background-color: transparent !important;
}

#logo a{
  float: left;
  margin-top: -10px;
}




#map_loading_gif{
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1002;
  font-weight: bold;
 
}
/*-----------------------------------------------------------------------------*/
/*-----------------------BEGIN MOBILE NAVIGATION STYLES-----------------------*/
/*-----------------------------------------------------------------------------*/

/* navbar styles */
nav {
  height: 40px;
  width: 100%;
  background: #2e2e2e;
  font-size: 8pt;
  font-family: 'PT Sans', Arial;
  position: relative;
  top: 0;
  left: 0;
  z-index: 1004;
}
nav ul {
  padding: 0;
  margin: 0 auto;
  width: 100%;
  min-height: 40px;
}
nav .mid-button {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
}
#mobile-nav-top ul li {
  min-width: 16.6%;
  max-width: 16.6%;
  float: left;
  display: inline;
  overflow: ellipsis;
  min-height: 40px;
}
#mobile-nav-top ul li a {
  display: block;
  color: #fff;
  text-align: center;
}
#mobile-nav-top ul li a:hover {
  color: #fff;
  cursor: pointer;
}
#mobile-nav-top ul #mobile-slider-li {
  min-width: 33.6%;
  max-width: 33.6%;
  overflow: visible;
}
#pageContainer {
  margin-bottom: -40px;
}
#pageContainer:after {
  content: "";
  display: block;
  height: 40px;
}
#mobile-nav-top ul #mobile-slider-li div {
  top: 50%;
}
#mobile-nav-top ul #marker_slider {
  width: 90%;
}
nav button {
  height: 40px;
  background: #2e2e2e; /*inherit;   edited by shangfu, because IE not support */
  color: #fff;
  border: none;
  overflow: ellipsis;
  font-size: 9pt;
  
}
nav ul li i {
  top: 0;
}

#mobile-nav-bottom ul li {
  min-width: 16.6%;
  width: 16.6%;
  float: left;
  display: inline;
  overflow: hidden;
  min-height: 40px;
}

#mobile-nav-bottom {
  height: 40px;
  width: 100%;
  font-size: 8pt;
  font-family: 'PT Sans', Arial;
  position: relative;
  bottom: 0;
  left: 0;
  z-index: 1000;
}
#mobile-nav-bottom button {
  min-width: 100%;
  overflow: ellipsis;
}
#mobile-nav-bottom button div {
  font-size: 2vw;
}
.fullscreen-back-button {
  width: 20%;
  float: left;  
}
#mobile-back #newsbubble-title {
  min-height: 100%;
  min-width: 60%;
  width: 60%;
  float: left;
}
#mobile-back #newsbubble-title a {
  overflow: ;
  max-width: 100%;
  max-height: 100%;
}
nav form {
  display: inline;
  width: 80%;
  background: inherit;
  border-top: none;
  border-right: none;
  border-left: #fff;
  border-bottom: #fff;
  border-width: 2px;
  float: left;
}
.mid {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
}
nav input[type="search"] {
  width: 60%;
  float: left;
  color: #fff;
  background: inherit;
  display: inline;
  float: left;
} 
nav input[type="submit"] {
  width: 20%;
  display: inline;
  background: inherit;
  border: none;
}
nav span a {
  display: block;
  min-width: 100%;
  min-height: 100%;
  color: #fff;
  font-size: 14pt;
  text-align: center;
  position: relative;
  top: 50%;
  transform: translateY(50%);
  -webkit-transform: 50(translateY%);

}
nav span a:hover {
  color: #fff;
  text-decoration: none;
}
#overlay {
  display: none;
  width: 100%;
  height: 100%;
  position: absolute;
  background: rgba(0, 0, 0, 0.4);
  top: 0;
  left: 0;
  z-index: 500;
}
.clearfix {
  *zoom: 1;
}
.mobile-topic-list .mobile-topic-list-elem {
  min-width: 100%;
  min-height: 15%;
  border-bottom: 1px solid #576979;
}
.mobile-topic-list-elem .mobile-overlay-label {
  color: #869fb3;
}
.mobile-topic-list {
  min-width:100%;
  min-height:100%;
  list-style: none;
  padding:0;
  margin:0;
}
#mobile-categories {
  min-width: 100%;
  min-height: 90%;
}
.mobile-topic-list-elem .mobile-filter-select {
  display: none;
}
.mobile-topic-list-elem .mobile-filter-select {
  font-weight: bold;
  border: 1px solid #d0a99b;
}
/*-----------------------------------------------------------------------------*/
/*-----------------------END MOBILE NAVIGATION STYLES-----------------------*/
/*-----------------------------------------------------------------------------*/

/*-----------------------------------------------------------------------------*/
/*----------------------- BEGIN MOBILE SETTINGS STYLES ---------------------*/
/*-----------------------------------------------------------------------------*/
.mobile-settings-select {
  margin-top: 20px;
  list-style: none;
}
.mobile-settings-select a {
  font-size: 19px;
  color: #f7ffff;
}
.mobile-settings-select {
  cursor:pointer;
}
.mobile-settings-select.selected a {
  color: #50a6a6;
}
#mobile-settings-current-selected {
  max-height: 420px;
  overflow: scroll;
  margin-top: 20px;
  border-radius: 6px;
  background: #bbbfbf;
  opacity: 0.8;
}
.mobile-settings-popup-holder {
  max-height: 90%;
}
.mobile-settings-popup-holder {
  overflow: scroll;
}
.mobile-settings-sidebar ul {
  list-style: none;
}
.mobile-settings-sidebar ul li input {
  display: none;
}
.mobile-settings-sidebar ul li input:checked + .menu-button:after {
  content: "\2713";
  margin-left: 5px;
}
.mobile-settings-sidebar ul li input:checked + .menu-button {
  font-weight: bold;
}

.mobile-settings-current-unseen { 
  display: none;
}

#mobile-search {
  position: absolute;
  max-width: 60%;
  z-index: 2000;
  max-height: 28px;
}
#mobile-search #location_searchTF {
  position: relative;
  min-height: 28px;
  max-height: 28px;
  max-width: 100%;
  padding: 0px;
  margin: 0px;
}
/*-----------------------------------------------------------------------------*/
/*----------------------- END MOBILE SETTINGS STYLES ---------------------*/
/*-----------------------------------------------------------------------------*/


/*-----------------------------------------------------------------------------*/
/*-----------------------BEGIN MODAL/FULLSCREEN STYLES---------------------*/
/*-----------------------------------------------------------------------------*/
.ns-modal {
  position: fixed;
  z-index: 5000;
  padding: 0;
  margin: 0;
  top: 20%;
  left: 10%;
  min-width: 80%;
  max-width: 80%;
  max-height: 60%;
  min-height: 20%;
  background: #FAFAFA;
  border-radius: 4px;
}
.ns-modal-head {
  background: inherit;
  min-height: 20%;
  border-bottom: 3px solid #81BEF7;
}
.ns-modal-head h4 {
  text-align: center;
  color: #81BEF7;
}
.ns-modal ul {
  margin: 0;
  list-style: none;
}
.ns-modal .ns-modal-li-item {
  color: #000;
  font-size: 12pt;
  border-bottom: solid 1px #A4A4A4;
  margin: 0;
  padding: 0;
  min-height: 35px;
}

.ns-modal-last-li-item {
  border: none;
}
.ns-modal .ns-modal-li-item:hover {
  cursor: pointer;
}
.ns-modal-content {
  min-width: 100%;
  min-height: 60%;
}
.ns-modal-content .selected {
  background: #A4A4A4;
}
.ns-modal-content .ns-modal-desc {
  font-size: 10pt;
  color: #000;
  padding: 5px;
  margin: 4px;
  border: none;
  text-align: center;
}
.ns-modal-content input[type=search] {
  display: block;
  margin-right: auto;
  margin-left: auto;
}
.ns-modal-foot {
  min-height: 20%;
  min-width: 100%;
  border-radius: 4px;
  border-top: 1px solid #000;
  background: inherit;
  bottom: 0;
  left: 0;
}
.ns-modal-foot .half-button {
  display: inline;
  min-height: 30px;
  width: 50%;
  border: none;
  border-radius: 4px;
  background: inherit;
  bottom: 0;
  color: #000;
  float: left;
}
.ns-modal-foot .half-button:active {
  background: #6E6E6E;
}
.ns-modal-foot .last-button {
  border-left: 1px solid #000;
}
#mask {
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0,0,0,0.4);
  z-index: 1001;
  width: 100%;
  height: 100%;
  display: none;
}

.close {
  padding-top: 3px;
  padding-right: 6px;
}
#fullscreen {
  position: absolute;
  min-height: 92%;
  height: 92%;
  z-index: 1003;
  top: 40px;
/*  overflow-y: scroll;*/
  background: #ffffff;
  display: none;
  max-width: 100%;
}
#fullscreen-body {
  min-width: 100%;
  min-height: 50%;
  max-height: 50%;
  padding-top: 2px;
  overflow: auto;
}
/*-----------------------------------------------------------------------------*/
/*-----------------------END OVERLAY/FULLSCREEN STYLES---------------------*/
/*-----------------------------------------------------------------------------*/

@media screen and (min-width: 601px) {
    .newsItem {
      font-size: 14px !important;
      line-height: 15px;
      overflow-x: hidden;
    }
}
@media all and (max-width: 600px) {
  /* MOBILE SETTINGS STYLES */
  .settings-input {
    display: none;
  }
  .settings-input:checked + label {
    background: #bdbdbd;
  }
  .settings-scroll {
    list-style: none;
  }
  #mobile-settings-current-selected li ul li label {
    font-size: 17px;
  }
  #selected_filters_overlay {
    bottom: 10%;
  }
  /*-----------------------------------------------------------------------------*/
  /*-----------------------BEGIN MOBILE NEWSBUBBLE STYLES---------------------*/
  /*-----------------------------------------------------------------------------*/
  .newsbubble-arrows {
    min-width: 20%;
    max-width: 20%;
    min-height: 100%;
  }
  .arrow-nav {
    visibility: hidden;
    min-width: 10%;
    max-width: 10%;
    float: right;
  }
  .arrow-nav div {
    font-size: 20px;
  }
  .arrow-nav div i {
    vertical-align: middle;
  }
  .visible {
    visibility: visible;
  }
  .invisible {
    visibility: hidden;
  }
  .newsbubble
  {
    width: 100%;
    height: 100%;
  }

  #errorReportComment{
    position: relative;
    top: -12px;
    font-size: 11px !important;
      width: 90%;
  }

  .newsbubble-head
  {
    position:relative;
    top:0;
    left:0;
    right:0;
    height:22px;
    display:block;
    font-weight:bold !important;
    padding-left: 8px;
    padding-bottom: 3px;
    padding-top: 5px;
    padding-right:20px;
    font-size: 12px !important;
    border-bottom: 1px solid #e3e3e3;
    background-color: #D6EDFF;
    z-index: 2;
  }
  .header-text {
    overflow: ellipsis;
    max-width: 60%;
    float: left;
  }

  .newsbubble-body {
    min-width: 95%;
    overflow-y: auto;
    overflow-x: hidden;
  }
  .newsItem {
      font-size: 9pt !important;
      line-height: 16px;
  }

  .newsItem
  {
    font-family: Helvetica, arial, sans-serif;
    padding: 5px 0 5px 10px;
    font-weight: bold;
    border: 0;
    
    text-overflow: ellipsis;
    white-space: nowrap;
    color: #2A5DB0;
    cursor: pointer;
  }
  .newsItem .storyKeyword {color: #000000;}

  .newsbubble a#NOTLOC:active,
  .newsbubble a#WRONGLOC:active,
  .newsbubble a#CORRECTLOC:active{
    margin-top: 1px;
  }

  .newsbubble-head .newsbubble-controls {
    right: 7%;
    position: absolute; /* If the name in the header is long */
  }
  .newsbubble-head {
    float: right;
    margin-top: -7px;
    cursor: pointer;
  } 
  .newsItem:hover {
    background: -moz-linear-gradient(left, rgba(237,237,237,1) 0%, rgba(255,255,255,0) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(237,237,237,1)), color-stop(100%,rgba(255,255,255,0))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(left, rgba(237,237,237,1) 0%,rgba(255,255,255,0) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(left, rgba(237,237,237,1) 0%,rgba(255,255,255,0) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(left, rgba(237,237,237,1) 0%,rgba(255,255,255,0) 100%); /* IE10+ */
    background: linear-gradient(to right, rgba(237,237,237,1) 0%,rgba(255,255,255,0) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ededed', endColorstr='#00ffffff',GradientType=1 ); /* IE6-9 */
    background-color: #F7F7F7;
  }

  /* MOBILE MINIMAP STUFF */
  @media screen and (max-width: 600px){
    #minimap_canvas{
      width: 100%;
      height: 100%;
      margin: 0;
      padding: 0;
    }

    #mini-map_container{
      width: 100%;
      height: 50%;
      top: 0 !important;
      left: 0 !important;
      border: 2px solid white;
      -webkit-box-shadow: 1px -1px 6px rgba(50, 50, 50, 0.2);
      -moz-box-shadow:    1px -1px 6px rgba(50, 50, 50, 0.2);
      box-shadow:         1px -1px 6px rgba(50, 50, 50, 0.2);
    }

    #minimap_topbar{
      display: none;
    }

    #minimap_slider_wrapper {
      position:absolute;
      top:20px;
      right:20px;
      text-align: right;
    }
    #minimap_slider_info {
      text-align:right;
      margin-right: -8px;
    }
    #minimap_slider2_info {
      margin-left: -8px;
    }
    #minimap_slider2_wrapper {
      position:absolute;
      top:20px;
      left:10px;
      text-align: left;
    }
    #minimap_marker_slider .ui-slider-handle {
      background: orange;
    }
    #minimap_slider_buttons button.ui-button-icon-only {
      background: orange;
    }
    .minimap_sliderWrapper span
    {
      font-weight: bold;
      text-shadow:  -1px -1px 0 white,
                    -1px -1px 0 white,
                    -1px -1px 0 white,
                    1px 1px 0 white;
    }

    .slider_btns {
      margin-top:-2px;
      display:inline-block;
      vertical-align:middle;
    }
    .minimap_slider {
      display:inline-block;
      min-width:50px;
      vertical-align:middle;
    }
    #minimap_slider2_buttons {
      margin-left:2px;
    }
    #minimap_marker_slider2 {
      margin-right:5px;
    }
    #minimap_marker_slider {
      margin-left:5px;
    }

    .slider_btns button.ui-button-icon-only {
      width:20px;
    }

    .minimap_txt {
      bottom:20%;
      position:absolute;
      width:100%;
      display:block;
      margin-left:auto;
      margin-right:auto;
      text-align:center;
      font-weight:bold;
      visibility:hidden;
      cursor:default;
    }
    #minimap_text_span {
      display: inline-block;
    }
    #minimap-mobile-cycle-related {
      min-height: 10%;
      position: absolute;
      top: 10%;
      left: 2%;
      min-width: 96%;
    }
    .mobile-cycle {
      min-width: 50%;
      width: 50%;
      font-size: 12px;
      min-height: 100%;
    }
    .mobile-cycle span i {
      font-size: 35px;
      padding-right: 4%;
    }
    .mobile-cycle span:hover {
      cursor: pointer;
    }
    #cycle-blues {
      position: absolute;
      text-align: left;
      left: 0;
    }
    #cycle-blues button {
      color: blue;
      background: Transparent;
      border: Transparent;
    }
    #cycle-yellows {
      position: absolute;
      text-align: right;
      right: -0;
    }
    #cycle-yellows button {
      color: red;
      background: Transparent;
      border: Transparent;
    }

    #fullscreen-settings {
      position: absolute;
      z-index: 1003;
      min-width: 100%;
      min-height: 100%;
      top: 0;
      background: #FAFAFA;
      display: none;
      overflow-y: scroll;
    }
    .accordion {
      position: absolute;
      top: 10%;
      min-width: 95%;
    }
  }
  

  /*-----------------------------------------------------------------------------*/
  /*-----------------------END MOBILE NEWSBUBBLE STYLES---------------------*/
  /*-----------------------------------------------------------------------------*/

  /*-----------------------------------------------------------------------------*/
  /*-----------------------BEGIN GENERAL MOBILE STYLES---------------------*/
  /*-----------------------------------------------------------------------------*/
  @media screen and (max-width: 600px){
    .mobile-hide {
      display: none !important;
    }    
  }

  body {
    width: 100%;
    padding-left: 0px;
    padding-right: 0px;
    /* For mobile firefox */
    position: fixed;
  }
  /*-----------------------------------------------------------------------------*/
  /*-----------------------END GENERAL MOBILE STYLES---------------------*/
  /*-----------------------------------------------------------------------------*/

  /*-----------------------------------------------------------------------------*/
  /*-----------------------BEGIN MOBILE TOP STORIES STYLES---------------------*/
  /*-----------------------------------------------------------------------------*/
  @media screen and (max-width: 600px){
    #top_stories {
      position: relative;
      min-width: 100%;
      width: 100%;
      min-height: 50%;
      height: 50%;
      z-index: 5;
      padding-top: 40px;
    }
    #top_stories #ts_list {
      margin-top: 0;
      min-height: 100%;
    }    
  }

  /*-----------------------------------------------------------------------------*/
  /*-----------------------BEGIN MOBILE CATEGORIES STYLES---------------------*/
  /*-----------------------------------------------------------------------------*/
  .overlay-content {
    min-height: 90%;
    min-width: 90%;
    bottom: 5%; top: 5%; left: 0; right: 5%;
    display: none;
  }
  .topic-filter ul {
    list-style: none;
  }
  .topic-filter .filter_select {
    display: none;
  }
  .map-control {
    position: absolute;
    font-size: 25px;
    z-index: 500;
    opacity: 0.6;
    left: 11%;
  }
  .map-control:hover {
    cursor: pointer;
  }
  #map-zoom-in {
    top: 20%;
  }
  #map-zoom-out {
    top: 30%;
  }
  /*-----------------------------------------------------------------------------*/
  /*-----------------------END MOBILE CATEGORIES STYLES---------------------*/
  /*-----------------------------------------------------------------------------*/
}
