        .link {
            stroke-width: 2px;
        }

        .node {
            stroke: #fff;
            stroke-width: 2px;
        }

        .textClass {
            stroke: #23232;
            font-family: "Arial", "Liberation Sans", Arial, Helvetica, sans-serif;
            font-weight: bold;

            stroke-width: 3;
            font-size: 5px;

        }

        #licensing {
            fill: green;
        }

        .link.licensing {
            stroke: green;
        }

        #chart, .ui-widget {
            border-style: solid;
            border-width: 2px;
            border-color: white;

        }
     #page {
    display: none;
}
#loading {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100vw;
    height: 100vh;
    background-color: rgba(192, 192, 192, 0.5);
    background-image: url("http://i.stack.imgur.com/MnyxU.gif");
    background-repeat: no-repeat;
    background-position: center;
}